{% extends "base.html" %}
{% load static %}
{% block container %}
  <div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary"data-background-color="purple">
                  <h4 class="card-title">Dados do Usuário</h4>
                  <p class="card-category">* Campos obrigatórios</p>
              </div>
                <div class="card-content">
                   <form method="POST">
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-2">
                    <div class="form-group">
                      <label class="bmd-label-floating">Nome</label>
                       <b style="color:red;">{{usuario_form.nome.errors}}</b>
                     {{usuario_form.nome}}
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <label class="bmd-label-floating">Sobrenome</label>
                       <b style="color:red;">{{usuario_form.sobrenome.errors}}</b>
                     {{usuario_form.sobrenome}}
                    </div>
                  </div>
                   <div class="col-md-2">
                    <div class="form-group">
                      <label class="bmd-label-floating">*Telefone</label>
                       <b style="color:red;">{{usuario_form.telefone.errors}}</b>
                      {{usuario_form.telefone}}
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <label class="bmd-label-floating">*CPF</label>
                     <b style="color:red;">{{usuario_form.cpf.errors}}</b>
                        {{usuario_form.cpf}}
                    </div>
                  </div>
                   <div class="col-md-2">
                    <div class="form-group">
                      <label class="bmd-label-floating">Nascimento</label>
                       <b style="color:red;">{{usuario_form.data_nascimento.errors}}</b>
                      {{usuario_form.data_nascimento}}
                    </div>
                  </div>
                </div>
                <!--verifica quem esta logado e se for atendente ou profissional ele oculta alguns campos irrelevantes para os mesmos-->
                {% if bas or usu %}
                 <div class="row"style="display:none">
                   <div class="col-md-3">
                    <div class="form-group">
                      <label class="bmd-label-floating">*Tipo (Permissão)</label>
                     <b style="color:red;">{{usuario_form.tipo.errors}}</b>
                        {{usuario_form.tipo}}
                    </div>
                  </div>
                  <div class="col-md-3">                   
                      <label class="bmd-label-floating">*Ativo</label>
                       <b style="color:red;">{{usuario_form.ativo.errors}}</b>
                      {{usuario_form.ativo}}
                  </div>
                </div>
                {% else %}
                <div class="row">
                   <div class="col-md-3">
                    <label class="bmd-label-floating">*Tipo (Permissão)</label>
                    <b style="color:red;">{{usuario_form.tipo.errors}}</b>
                    {{usuario_form.tipo}}
                    
                  </div>

                  <div class="col-md-3">                   
                      <label class="bmd-label-floating">*Ativo</label>
                       <b style="color:red;">{{usuario_form.ativo.errors}}</b>
                      {{usuario_form.ativo}}
                  </div>
                </div>
                <br><br>
                
                
                {% endif %}
                <div class="row">
                  <div class="col-md-2">                   
                      <label class="bmd-label-floating">Email</label>
                       <b style="color:red;">{{usuario_form.email.errors}}</b>
                      {{usuario_form.email}}
                  </div>                   
                </div>
                <div class="row col-md-12 text-right">
                <button type="submit" class="btn btn-primary pull-right">Salvar</button>
                <a href="{% url 'usuarios' %}" class="btn btn-danger btn-group" onclick="return confirm('Deseja realmente cancelar?');">Cancelar</a>
                </div> 
                <div class="clearfix"></div>
              </form>
                  </div>
                </div><!--  end card  -->
            </div> <!-- end col-md-12 -->
        </div> <!-- end row -->
  </div>
</div>
<script>
 jQuery(function($){
  $('#id_telefone').mask('(00) 00000-0000');
  $('#id_cpf').mask('000.000.000-00', {reverse: true});
});
  $('#id_data_nascimento').daterangepicker({
    singleDatePicker: true,
    showDropdowns: true,
    "locale": {
    "format": "DD/MM/YYYY",
    "separator": " - ",
    "applyLabel": "Aplicar",
    "cancelLabel": "Cancelar",
    "fromLabel": "De",
    "toLabel": "Até",
    "customRangeLabel": "Custom",
    "daysOfWeek": [
        "Dom",
        "Seg",
        "Ter",
        "Qua",
        "Qui",
        "Sex",
        "Sáb"
    ],
    "monthNames": [
        "Janeiro",
        "Fevereiro",
        "Março",
        "Abril",
        "Maio",
        "Junho",
        "Julho",
        "Agosto",
        "Setembro",
        "Outubro",
        "Novembro",
        "Dezembro"
    ],
    "firstDay": 0
}});
</script>
{% endblock container %}
