{% extends "base.html" %}
{% load static %}
{% block container %}
  <div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary"data-background-color="purple">
                  <h4 class="card-title">Dados do Profissional</h4>
              </div>
                <div class="card-content">
                   <div class="row">
                      <div class="col-md-7">
                        <div class="form-group">
                          <label class="bmd-label-floating">* Nome de Usuario</label>
                          <input type="text" value="{{usu.user.username}}"class="form-control" disabled>
                        </div>
                      </div>
                      <div class="col-md-5">
                        <div class="form-group">
                          <label class="bmd-label-floating">Email</label>
                          <input type="email" value="{{usu.email}}"class="form-control" disabled>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                       <div class="col-md-3">
                        <div class="form-group">
                          <label class="bmd-label-floating">Telefone</label>
                          <input type="email" value="{{usu.telefone}}"class="form-control" disabled>
                        </div>
                      </div>
                       <div class="col-md-3">
                        <div class="form-group">
                          <label class="bmd-label-floating">* Cpf</label>
                          <input type="text" value="{{usu.cpf}}"class="form-control" disabled>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="bmd-label-floating">*Data Nascimento</label>
                          <input type="text" value="{{usu.data_nascimento|date:"d/m/Y"}}"class="form-control" disabled>
                        </div>
                      </div>

                    </div>
                    <div class="row">
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="bmd-label-floating">* Função</label>
                          <input type="text" value="{{usu.get_tipo_display}}"class="form-control" disabled>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="bmd-label-floating">Data de Atualização</label>
                          <input type="text" value="{{usu.atualizado_em}}"class="form-control" disabled>
                        </div>
                      </div>
                    </div>
                   <a href="{% url 'usuarios' %}" class="btn btn-success btn-group pull-right" onclick="return confirm('Deseja realmente Voltar?');">Voltar</a>              
                </div>
                 </div><!-- end content-->
                </div><!--  end card  -->
            </div> <!-- end col-md-12 -->
        </div> <!-- end row -->
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $('#datatables').DataTable({
      "pagingType": "full_numbers",
      "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
      responsive: true,
      searching: true, 
      "language": {
          "sProcessing":   "Processando...",
          "sLengthMenu":   " _MENU_ ",
          "sZeroRecords":  "<b><center>Não foram encontrados resultados</center><b>",
          "info": "Pág _PAGE_ de _PAGES_",
          "sInfoEmpty":    "",
          "sInfoFiltered": "",
          "sInfoPostFix":  "",
          "sSearch":       "Busca",
          "sUrl":          "",
          "oPaginate": {
              "sFirst":    "Primeiro",
              "sPrevious": "",
              "sNext":     "",
              "sLast":     "Último"
          }
      }
    });


    var table = $('#datatables').DataTable();

    // Edit record
    table.on( 'click', '.edit', function () {
      $tr = $(this).closest('tr');

      var data = table.row($tr).data();
      alert( 'You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.' );
    } );

    // Delete a record
    table.on( 'click', '.remove', function (e) {
      $tr = $(this).closest('tr');
      table.row($tr).remove().draw();
      e.preventDefault();
    } );

    //Like record
    table.on( 'click', '.like', function () {
      alert('You clicked on Like button');
    });

    $('.card .material-datatables label').addClass('form-group');
  });

</script>
{% endblock container %}


