{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Painel Covid-19 {{cidade.cidade}}</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static "vendors/ti-icons/css/themify-icons.css"%}">

  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static "css/styles.css"%}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static "images/favicon.png"%}" />


  <script src="{% static "js/utils.js"%}"></script>

   <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
    <!-- Third party plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- overlayScrollbars -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <script type="application/javascript" src="awesomechart.js"></script>
   

    <!-- Theme style -->
   
    
    
    

    <style type="text/css">
    html, body, #rec_sexo {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}
.zc-body {
      background-color: #fff;
    }

    .chart--container {
      height: 100%;
      width: 100%;
      min-height: 400px;
    }

    .zc-ref {
      display: none;
    }
      canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    height: 380px;
  }
  .img-responsive {
  max-width: 100%; 
  height: auto; 
  display:block;
}
  </style>  
  {% block datepicker %}
  {% endblock datepicker %}
</head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" href="{% url 'site' %}"><img src="{% static "images/logo_header.png"%}" class="mr-2" alt="logo"/></a>
        <a class="navbar-brand brand-logo-mini" href="{% url 'site' %}"><img src="{% static "images/brasao.png"%}" alt="logo"/></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="ti-view-list"></span>
        </button>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'nota' %}">
              <span class="menu-title">Nota explicativa</span>
            </a>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="ti-view-list"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'site' %}">
              <i class="ti-shield menu-icon"></i>
              <span class="menu-title">Home</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="ti-layout-list-post menu-icon"></i>
              <span class="menu-title">Transmissão</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'nota' %}">
              <i class="ti-pie-chart menu-icon"></i>
              <span class="menu-title">Nota explicativa</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <i class="ti-palette menu-icon"></i>
              <span class="menu-title">Links Úteis</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="https://parnaiba.pi.gov.br/phb/" target="_blank">Prefeitura - PMP</a></li>
                <li class="nav-item"> <a class="nav-link" href="https://datastudio.google.com/u/0/reporting/a6dc07e9-4161-4b5a-9f2a-6f9be486e8f9/page/2itOB" target="_blank">Painel Covid19 - Estado</a></li>
                <li class="nav-item"> <a class="nav-link" href="https://covid.saude.gov.br/" target="_blank">Painel Covid19 - Brasil</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
      <!-- partial -->

    {% block content %}

    {% endblock content %}
     <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block"> &copy; <script>//document.write(new Date().getFullYear())</script><a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K8452958T7" target="_blank">Ismael Sousa </a> - Todos os Direitos reservados.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Fonte: {{cidade.fonte}}</span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!--  DataTables.net Plugin, full documentation here: https://datatables.net/    -->
 
  <script src="{% static "js/hoverable-collapse.js"%}"></script>
  <script src="{% static "js/template.js"%}"></script>
  <script src="{% static "js/chart.min.js"%}"></script>
  <script src="{% static "js/charts.js"%}"></script>




</body>

</html>

