{% extends "base_site.html" %}
{% load static %}
{% block content %}
{% block datepicker %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>





{% endblock datepicker %}
<div class="main-panel">
	<div class="content-wrapper">
		<div class="row">
			<div class="col-md-12 grid-margin">
				<div class="d-flex justify-content-between align-items-center">
					<div>
						<h3><strong>Painel</strong> CoronaVirus - {{cidade.cidade}}</h3>
						<p><font color="gray">Atualizado em: {{dados.criado_em}}</font></p>
					</div>
				</div>
			</div>
		</div>

<div class="row">
	<div class="col-md-3 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<p class="text-danger card-title text-md-center text-xl-left">CASOS CONFIRMADOS</p>
				<div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
					<p><font size="+3">{{dados.confirmado}}</strong></font><br><font size="1" color="gray">Acumulado</font></p>
					<p><font size="+3">{{dados.conf_por_dia}}</strong></font><br><font size="1" color="gray">Casos novos</font></p>
				</div>  
				<div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
					<p><font size="+1">{{incidencia|floatformat:2}}</strong></font><br><font size="1" color="gray">Incidência*</font></p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<p class="text-success card-title text-md-center text-xl-left">CASOS RECUPERADOS</p>
				<div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
					<h2 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">{{dados.recuperado}}</h2>
					<i class="ti-user icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
				</div>  
				<p class="mb-0 mt-2 text-md-center">{{tx_recuperados|floatformat:2}} %<span class="text-black ml-1"><small>(Taxa de Recuperados*)</small></span></p>
			</div>
		</div>
	</div>
	<div class="col-md-3 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<p class="text-danger card-title text-md-center text-xl-left">ÓBITOS CONFIRMADOS</p>
				<div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
					<p><font size="+3">{{dados.obito}}</strong></font><br><font size="1" color="gray">Acumulado</font></p>
					<p><font size="+3">{{dados.obt_por_dia}}</strong></font><br><font size="1" color="gray">Obitos novos</font></p>
				</div>  
				<div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
					<p><font size="+1">{{tx_letalidade|floatformat:2}} %</strong></font><br><font size="1" color="gray">Letalidade*</font></p>
					<p><font size="+1">{{mortalidade|floatformat:2}}</strong></font><br><font size="1" color="gray">Mortalidade*</font></p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<p class="card-title text-md-center text-xl-left">ISOLADOS</p>
				<div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
					<h2 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">{{dados.isolado}}</h2>
					<i class="ti-user icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
				</div>  
				<p class="mb-0 mt-2 text-md-center">{{tx_isolados|floatformat:2}} %<span class="text-black ml-1"><small>(Taxa de Isolados*)</small></span></p>
			</div>
		</div>
	</div>


	<div class="col-md-3 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<p class="card-title text-md-center text-xl-left">LEITOS</p>
				<div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
					<p class="text-md-center"><font size="+3">{{dados.leito_suspeito}}</strong></font><br><font size="2" color="gray">Suspeitos</font></p>
					<p class="text-md-center"><font size="+3">{{dados.leito_positivo}}</strong></font><br><font size="2" color="gray">Positivos</font></p>
				</div> 

			</div>
		</div>
	</div>

	<div class="col-md-3 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<p class="card-title text-md-center text-xl-left">UTI</p>
				<div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
					<p class="text-md-center"><font size="+3">{{dados.uti_suspeito}}</strong></font><br><font size="2" color="gray">Suspeitos</font></p>
					<p class="text-md-center"><font size="+3">{{dados.uti_positivo}}</strong></font><br><font size="2" color="gray">Positivos</font></p>
				</div> 

			</div>
		</div>
	</div>
        <div class="col-md-3 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title text-md-center text-xl-left">UTI</p>
                <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                    <p class="text-md-center"><font size="+3">{{dados.uti_srag}}</strong></font><br><font size="2" color="gray">SRAG UTI</font></p>
                    <p class="text-md-center"><font size="+3">{{dados.leito_srag}}</strong></font><br><font size="2" color="gray">SRAG Leito</font></p>
                </div> 

            </div>
        </div>
    </div>
</div>


        <div class="row">
        <div class="col-lg-12 col-md-12">                
            <!-- DONUT CHART -->
            <div class="card card-warning">
                <div class="card-header">
                    <h3 class="card-title">Evolução dos casos (Residentes de {{cidade.cidade}})</h3>
                </div>
                <div class="card-body">
                    <div id='myChart' style="height: 400px; width:100%;"></div>
                    <h6  style="text-align: right"><i>Atualizado em: {{last_update.criado_em|date:"d/m/Y"}}</i></h6>
                </div>

                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</br>
<hr>
<div class="row">
	<div class="col-md-6 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
<h3 class="font-weight-bold text-success">Download dos Boletins </h3>

            <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%">
              <thead>
                      <th>Id</th>
                      <th>Data</th>
                      <th>Ação</th>
                    </thead>
                    <tbody>
                      {% for b in boletins %}
                      <tr>
                        <td>{{b.id}}</td>
                        <td>{{b.upload_em|date:'d/m/Y'}}</td>
                        <td><a href="{{b.boletim.url}}" target="_blank" title="Boletim do dia {{b.upload_em}}"> Download aqui</a></td>
                      </tr>
                      {% empty %}
                      <tr>
                        <td class="text-info"><h4>Sem Boletins</h4></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
</div>
</div>
</div>
</div>
</div>
						
<script type="text/javascript">
$(document).ready(function() {
  $('#datatables').DataTable({
    "pagingType": "full_numbers",
    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
    searching: true, 
    responsive: true,
    "language": {
      "sProcessing":   "Processando...",
      "sLengthMenu":   " _MENU_ ",
      "sZeroRecords":  "<b><center>Não foram encontrados resultados</center><b>",
      "info": "Pág _PAGE_ de _PAGES_",
      "sInfoEmpty":    "",
      "sInfoFiltered": "",
      "sInfoPostFix":  "",
      "sSearch":       "Busca por data",
      "sUrl":          "",
      "oPaginate": {
        "sFirst":    "Primeiro",
        "sPrevious": "",
        "sNext":     "",
        "sLast":     "Último"
      }
    }
  });
  });

</script>
<script type="text/javascript">
    var myConfig = {
        "type": "line",
        "utc": true,
        "title": {
            "text": "",
            "font-size": "24px",
            "adjust-layout": true
        },
        "plotarea": {
            "margin": "dynamic 45 60 dynamic",
        },
        "legend": {
            "layout": "float",
            "background-color": "none",
            "border-width": 0,
            "shadow": 0,
            "align": "center",
            "adjust-layout": true,
            "toggle-action": "remove",
            "item": {
                "padding": 7,
                "marginRight": 17,
                "cursor": "hand"
            }
        },
        "scale-x": {
            "labels": {{atl_dia|safe}},
            "min-value": 1383292800000,
            "shadow": 0,
            "step": 3600000,
            "transform": {
                "type": "date",
                "all": "%D, %d %M",
                "guide": {
                    "visible": false
                },
                "item": {
                    "visible": false
                }
            },
            "label": {
                "visible": false
            },
            "minor-ticks": 0
        },
        "scale-y": {
            "line-color": "#f6f7f8",
            "shadow": 0,
            "guide": {
                "line-style": "dashed"
            },
            "label": {
                "text": "",
            },
            "minor-ticks": 0,
            "thousands-separator": ","
        },
        "crosshair-x": {
            "line-color": "#efefef",
            "plot-label": {
                "border-radius": "5px",
                "border-width": "1px",
                "border-color": "#f6f7f8",
                "padding": "10px",
                "font-weight": "bold"
            },
            "scale-label": {
                "font-color": "#000",
                "background-color": "#f6f7f8",
                "border-radius": "5px"
            }
        },
        "tooltip": {
            "visible": false
        },
        "plot": {
            "highlight": true,
            "tooltip-text": "%t views: %v<br>%k",
            "shadow": 0,
            "line-width": "2px",
            "marker": {
                "type": "circle",
                "size": 3
            },
            "highlight-state": {
                "line-width": 3
            },
            "animation": {
                "effect": 1,
                "sequence": 2,
                "speed": 100,
            }
        },
        "series": [{
            "values": {{conf_dia|safe}},
            "text": "Confirmados",
            "line-color": "#FF8C00",
            "legend-item": {
                "background-color": "#FF8C00",
                "borderRadius": 5,
                "font-color": "white"
            },
            "legend-marker": {
                "visible": false
            },
            "marker": {
                "background-color": "#FF8C00",
                "border-width": 1,
                "shadow": 0,
                "border-color": "#FFA500"
            },
            "highlight-marker": {
                "size": 6,
                "background-color": "#FF8C00",
            }
        },
        {
            "values": {{rec_dia|safe}},
            "text": "Recuprados",
            "line-color": "#009872",
            "legend-item": {
                "background-color": "#009872",
                "borderRadius": 5,
                "font-color": "white"
            },
            "legend-marker": {
                "visible": false
            },
            "marker": {
                "background-color": "#009872",
                "border-width": 1,
                "shadow": 0,
                "border-color": "#69f2d0"
            },
            "highlight-marker": {
                "size": 6,
                "background-color": "#009872",
            }
        },
        {
            "values": {{obt_dia|safe}},
            "text": "Óbitos",
            "line-color": "#da534d",
            "legend-item": {
                "background-color": "#da534d",
                "borderRadius": 5,
                "font-color": "white"
            },
            "legend-marker": {
                "visible": false
            },
            "marker": {
                "background-color": "#da534d",
                "border-width": 1,
                "shadow": 0,
                "border-color": "#faa39f"
            },
            "highlight-marker": {
                "size": 6,
                "background-color": "#da534d",
            }
        }
        ]
    };

    zingchart.render({
        id: 'myChart',
        data: myConfig,
        height: '100%',
        width: '100%'
    });
</script>
{% endblock content %}

