{% extends "base.html" %}
{% load static %}
{% block container %}

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-content">
            <form method="POST" id="form_caso">
              {% csrf_token %}
              <div class="row">
                <h3 class="cad">Dados do Paciente</h3>
                <div class="col-md-5" id="nome">
                  <div class="form-group">
                    <label class="bmd-label-floating">*Nome</label>
                    {{form.nome}}
                    {{form.nome.errors}}

                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="bmd-label-floating">CPF</label>
                    {{form.cpf}}
                  </div>
                </div>
                <div class="col-md-4" id="data_nascimento">
                  <div class="form-group">
                    <label class="bmd-label-floating">*Data Nascimento</label>
                    {{form.data_nascimento}}
                  </div>
                </div>
                     
              </div>
              <div class="row">
                                <div class="col-md-2" id="sexo">
                  <div class="form-group">
                    <label  class="bmd-label-floating">*Sexo</label>
                    {{form.sexo}}
                  </div>
                </div> 
                <div class="col-md-2" id="residente">
                  <div class="form-group">
                    <label  class="bmd-label-floating">*Residente</label>
                    {{form.residente}}
                  </div>
                </div>                
                <div class="col-md-4" id="bairro">                 
                  <label class="bmd-label-floating">*Bairro</label>
                  {{form.bairro}}                       
                </div>
              </div>
              <div class="row">
                <h3 class="cad">Investigação da notificação</h3>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="bmd-label-floating">Confirmado COVID-19</label>
                    {{form.confirmado}}
                  </div>
                </div>
                <div class="col-md-3">                       
                  <label class="bmd-label-floating">Comorbidade</label>
                  {{form.comorbidade}}                        
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="bmd-label-floating">Recuperado COVID-19</label>
                    {{form.recuperado}}
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="bmd-label-floating">Óbito por COVID-19</label>
                    {{form.obito}}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="bmd-label-floating">(+) Isolamento Domiciliar COVID-19</label>
                    {{form.isolado}}
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="bmd-label-floating">Leito Hospitalar</label>
                    {{form.internado}}
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="bmd-label-floating">Internado em UTI por COVID-19</label>
                    {{form.uti}}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="bmd-label-floating">Data Notificação</label>
                    {{form.data_notificacao}}
                  </div>
                </div>
                <div class="col-md-3">
                  
                    <label class="bmd-label-floating">Unidade de Saúde</label>
                    {{form.ubs}}
                 
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Observações sobre Tratamento:</label>
                    {{form.observacao}}
                  </div>
                </div>
              </div> 
              <br/><br/>
              <button type="submit" class="btn btn-primary pull-right" id="submitButton">Salvar</button>
              <button type="submit" class="btn btn-success pull-right" id="submitButton1" name="adicionar_outro">Salvar E Adicionar Outro</button>
              <a href="javascript:history.back()" class="btn btn-danger btn-group" onclick="return confirm('Deseja realmente cancelar?');">Cancelar</a>
              <div class="clearfix"></div>
            </form>
          </div><!-- end content-->

        </div><!--  end card  -->
      </div> <!-- end col-md-12 -->
    </div> <!-- end row -->
  </div>
</div>
<script>

jQuery(function($){
  $('#id_telefone').mask('(00) 00000-0000');
  $('#id_cpf').mask('000.000.000-00');
});
$('#id_data_nascimento').daterangepicker({
  singleDatePicker: true,
  showDropdowns: true,
  "locale": {
    "format": "DD/MM/YYYY",
    "separator": " - ",
    "applyLabel": "Aplicar",
    "cancelLabel": "Cancelar",
    "fromLabel": "De",
    "toLabel": "Até",
    "customRangeLabel": "Custom",
    "daysOfWeek": [
    "Dom",
    "Seg",
    "Ter",
    "Qua",
    "Qui",
    "Sex",
    "Sáb"
    ],
    "monthNames": [
    "Janeiro",
    "Fevereiro",
    "Março",
    "Abril",
    "Maio",
    "Junho",
    "Julho",
    "Agosto",
    "Setembro",
    "Outubro",
    "Novembro",
    "Dezembro"
    ],
    "firstDay": 0
  }});
$('#id_data_notificacao').daterangepicker({
  singleDatePicker: true,
  showDropdowns: true,
  "locale": {
    "format": "DD/MM/YYYY",
    "separator": " - ",
    "applyLabel": "Aplicar",
    "cancelLabel": "Cancelar",
    "fromLabel": "De",
    "toLabel": "Até",
    "customRangeLabel": "Custom",
    "daysOfWeek": [
    "Dom",
    "Seg",
    "Ter",
    "Qua",
    "Qui",
    "Sex",
    "Sáb"
    ],
    "monthNames": [
    "Janeiro",
    "Fevereiro",
    "Março",
    "Abril",
    "Maio",
    "Junho",
    "Julho",
    "Agosto",
    "Setembro",
    "Outubro",
    "Novembro",
    "Dezembro"
    ],
    "firstDay": 0
  }});
</script>
<script>  
//dicionario dos dados
</script>
<script type="text/javascript">
$(document).ready(function() {
  $('#submitButton').on('click',function(){
    $('#form_caso').validate({
      rules: {
        nome: { required: true, },
        data_nascimento: { required: true,},
        sexo: { required: true,},
        residente: { required: true,},
        bairro: { required: true,},
        suspeito: { required: true,},
        data_notificacao: { required: true,},
      },
      messages: {
        nome: { required: '<span class="text-danger">Prencha esse Campo</span>' },
        data_nascimento: { required: '<span class="text-danger">Prencha esse Campo</span>' },
        sexo: { required: '<span class="text-danger">Prencha esse Campo</span>' },
        residente: { required: '<span class="text-danger">Prencha esse Campo</span>' },
        bairro: { required: '<span class="text-danger">Prencha esse Campo</span>' },
        suspeito: { required: '<span class="text-danger">Prencha esse Campo</span>' },
        data_notificacao: { required: '<span class="text-danger">Prencha esse Campo</span>' },
      },
    });
  });

  $('#submitButton1').on('click',function(){
    $('#form_caso').validate({
      rules: {
        nome: { required: true, },
        data_nascimento: { required: true,},
        sexo: { required: true,},
        residente: { required: true,},
        bairro: { required: true,},
        suspeito: { required: true,},
        data_notificacao: { required: true,},
      },
      messages: {
        nome: { required: '<span class="text-danger">Prencha esse Campo</span>' },
        data_nascimento: { required: '<span class="text-danger">Prencha esse Campo</span>' },
        sexo: { required: '<span class="text-danger">Prencha esse Campo</span>' },
        residente: { required: '<span class="text-danger">Prencha esse Campo</span>' },
        bairro: { required: '<span class="text-danger">Prencha esse Campo</span>' },
        suspeito: { required: '<span class="text-danger">Prencha esse Campo</span>' },
        data_notificacao: { required: '<span class="text-danger">Prencha esse Campo</span>' },
      },
    });
  });
});
</script>
{% endblock container %}