{% extends "base.html" %}
{% load static %}
{% block container %}
  <div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
              <div class="card">
                 <div class="card-header card-header-primary"data-background-color="purple">
                   <h4 class="card-title ">Dados Cadastrais</h4>
              </div>
                <div class="card-content">
									<form method="POST">
										{% csrf_token %}
										<div class="row">
											<div class="col-md-4">
												<div class="form-group">
													<label class="bmd-label-floating">*Nome</label>
													<input type="text" value="{{caso.nome}}"class="form-control" disabled>
												</div>
											</div>
											<div class="col-md-2">
												<div class="form-group">
													<label class="bmd-label-floating">* Data Nascimento</label>
													<input type="text" value="{{caso.data_nascimento|date:"d/m/Y"}}"class="form-control" disabled>
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label  class="bmd-label-floating">Sexo</label>
													<input type="text" value="{{caso.get_sexo_display}}"class="form-control" disabled>
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label  class="bmd-label-floating">Residente</label>
													<input type="text" value="{% if not caso.residente %} Não {% else%} Sim{% endif %}"class="form-control" disabled>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-4">
												<div class="form-group">
													<label class="bmd-label-floating">Bairro</label>
													<input type="text" value="{{caso.bairro}}"class="form-control" disabled>
												</div>
											</div>
										</div>                    
										<div class="row">
											<div class="col-md-3">
												<div class="form-group">
													<label class="bmd-label-floating">Data Sintomas</label>
													<input type="text" value="{{caso.sintomas}}"class="form-control" disabled>
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label class="bmd-label-floating">Confirmado COVID-19</label>
													<input type="text" value="{% if not caso.confirmado %} Não {% else%} Sim{% endif %}"class="form-control" disabled>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-4">
												<div class="form-group">
													<label class="bmd-label-floating">Comorbidade</label>
													<input type="text" value="{{caso.comorbidade}}"class="form-control" disabled>
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label class="bmd-label-floating">Recuperado COVID-19</label>
													<input type="text" value="{% if not caso.recuperado %} Não {% else%} Sim{% endif %}"class="form-control" disabled>
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label class="bmd-label-floating">Óbito por COVID-19</label>
													<input type="text" value="{% if not caso.obito %} Não {% else%} Sim{% endif %}"class="form-control" disabled>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-4">
												<div class="form-group">
													<label class="bmd-label-floating">(+) Isolamento Domiciliar COVID-19</label>
													<input type="text" value="{% if not caso.isolado %} Não {% else%} Sim{% endif %}"class="form-control" disabled>
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label class="bmd-label-floating">Em observação Hospitalar por COVID-19</label>
													<input type="text" value="{% if not caso.internado %} Não {% else%} Sim{% endif %}"class="form-control" disabled>
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label class="bmd-label-floating">Internado em UTI por COVID-19</label>
													<input type="text" value="{% if not caso.uti %} Não {% else%} Sim{% endif %}"class="form-control" disabled>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-3">
												<div class="form-group">
													<label class="bmd-label-floating">Data Notificação</label>
													<input type="text" value="{{caso.data_notificacao}}"class="form-control" disabled>
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label class="bmd-label-floating">Equipe de saúde</label>
													<input type="text" value="{{caso.ubs}}"class="form-control" disabled>
												</div>
											</div>
	
											<div class="col-md-6">
												<div class="form-group">
													<label class="bmd-label-floating">Observações:</label>
													<input type="text" value="{{caso.observacao}}"class="form-control" disabled>
												</div>
											</div>
										</div>
										<br/><br/>
										<a href="{% url 'casos' %}" class="btn btn-info btn-group">Voltar</a>
										<div class="clearfix"></div>
									</form>
								</div><!-- end content-->
                </div><!--  end card  -->
            </div> <!-- end col-md-12 -->
        </div> <!-- end row -->
  </div>
</div>
{% endblock container %}