{% extends "base.html" %}
{% load static %}
{% block container %}
  <div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
              <div class="card">
                 <div class="card-header card-header-primary"data-background-color="purple">
                   <h4 class="card-title ">Dados Cadastrais</h4>
              </div>
                <div class="card-content">
									<form method="POST">
										{% csrf_token %}
										<div class="row">
											<div class="col-md-3">
												<div class="form-group">
													<label class="bmd-label-floating">*Bairro</label>
													<input type="text" value="{{bairro.nome}}"class="form-control" disabled>
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label class="bmd-label-floating">* Cidade</label>
													<input type="text" value="{{bairro.cidade}}"class="form-control" disabled>
												</div>
											</div>
											<div class="col-md-2">
												<div class="form-group">
													<label class="bmd-label-floating">* latitude</label>
													<input type="text" value="{{bairro.latitude}}"class="form-control" disabled>
												</div>
											</div>
											<div class="col-md-2">
												<div class="form-group">
													<label class="bmd-label-floating">* Longitude</label>
													<input type="text" value="{{bairro.longitude}}"class="form-control" disabled>
												</div>
											</div>
										</div>										
										<br/><br/>
										<a href="{% url 'bairros' %}" class="btn btn-info btn-group">Voltar</a>
										<div class="clearfix"></div>
									</form>
								</div><!-- end content-->
                </div><!--  end card  -->
            </div> <!-- end col-md-12 -->
        </div> <!-- end row -->
  </div>
</div>
{% endblock container %}